html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.info {
    font-size: 1.2em;
    line-height: 0.8em;
    margin-top: 4.5rem;
}

.small-image {
    height: auto;
    max-width: 100px;
}

#main_content {
    margin-bottom: 1em;
    padding: 1em;
}

#ucsm-logo {
    margin: 1em;
}

#ucsm-text {
    color: darkblue;
    font-size: 2em;
    margin-bottom: 0.5em;
}
