{% extends "base.html" %}

{% block title %}Preprocessing - Fall Detection and Classification{% endblock %}

{% block content %}
<div>
    <label for="camera-select">Camera: </label>
    <select id="camera-select">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>

    <label for="condition-select">Condition: </label>
    <select id="condition-select">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
</div>
    <button type="button" class="btn btn-primary" id="btn-create-common-bg">Create Common Background</button>
    <script src="{{ url_for('static', filename='js/preprocessing.js') }}"></script>
{% endblock %}