{% extends "base.html" %}

{% block title %}Features Extraction and Fusion - Fall Detection{% endblock %}

{% block content %}
<div class="row" style="margin: 0.5rem;">
    <div class="col-md-7 text-end">
        <label for="subject-select-fg">Subject: </label>
        <select id="subject-select-fg">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
        </select>
        <label for="camera-select-fg">Camera: </label>
        <select id="camera-select-fg">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <label for="trial-select-fg">Trial: </label>
        <select id="trial-select-fg">
            <option value="all">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <label for="activity-select-fg">Activity: </label>
        <select id="activity-select-fg">
            <option value="all">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>
    </div>
    <div class="col-md-2 text-center">
        <button type="button" class="btn btn-primary w-100" id="btn-extract-fg-fd">Extract FG FD</button>
    </div>
    <div class="col-md-1 text-center">
        <button type="button" class="btn btn-danger" id="btn-stop-extract-fg-fd">Stop</button>
    </div>
    <div class="col-md-1 text-center">
        <button type="button" class="btn btn-success" id="btn-result-fg-fd">Result</button>
    </div>
</div>

<div class="row" style="margin: 0.5rem;">
    <div class="col-md-7 text-end">
        <label for="subject-select-fg-yolo">Subject: </label>
        <select id="subject-select-fg-yolo">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
        </select>
        <label for="camera-select-fg-yolo">Camera: </label>
        <select id="camera-select-fg-yolo">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <label for="trial-select-fg-yolo">Trial: </label>
        <select id="trial-select-fg-yolo">
            <option value="all">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <label for="activity-select-fg-yolo">Activity: </label>
        <select id="activity-select-fg-yolo">
            <option value="all">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>
    </div>
    <div class="col-md-2 text-center">
        <button type="button" class="btn btn-primary w-100" id="btn-extract-fg-yolo">Extract FG YOLO</button>
    </div>
    <div class="col-md-1 text-center">
        <button type="button" class="btn btn-danger" id="btn-stop-extract-fg-yolo">Stop</button>
    </div>
    <div class="col-md-1 text-center">
        <button type="button" class="btn btn-success" id="btn-result-fg-yolo">Result</button>
    </div>
</div>

<div class="row" style="margin: 0.5rem;">
    <div class="col-md-7 text-end">
        <label for="method-select-shi">Method: </label>
        <select id="method-select-shi">
            <option value="Yolov8">Yolov8</option>
            <option value="FD">FD</option>
        </select>
        <label for="subject-select-shi">Subject: </label>
        <select id="subject-select-shi">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
        </select>
        <label for="camera-select-shi">Camera: </label>
        <select id="camera-select-shi">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <label for="trial-select-shi">Trial: </label>
        <select id="trial-select-shi">
            <option value="all">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <label for="activity-select-shi">Activity: </label>
        <select id="activity-select-shi">
            <option value="all">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>
    </div>
    <div class="col-md-2 text-center">
        <button type="button" class="btn btn-primary w-100" id="btn-create-shi">Create SHI</button>
    </div>
    <div class="col-md-1 text-center">
        <button type="button" class="btn btn-danger" id="btn-stop-create-shi">Stop</button>
    </div>
    <div class="col-md-1 text-center">
        <button type="button" class="btn btn-success" id="btn-result-shi">Result</button>
    </div>
</div>

<div class="row" style="margin: 0.5rem;">
    <div class="col-md-7 text-end">
        <label for="subject-select-dof">Subject: </label>
        <select id="subject-select-dof">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
        </select>
        <label for="camera-select-dof">Camera: </label>
        <select id="camera-select-dof">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <label for="trial-select-dof">Trial: </label>
        <select id="trial-select-dof">
            <option value="all">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <label for="activity-select-dof">Activity: </label>
        <select id="activity-select-dof">
            <option value="all">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>
    </div>
    <div class="col-md-2 text-center">
        <button type="button" class="btn btn-primary w-100" id="btn-extract-dof">Extract DOF</button>
    </div>
    <div class="col-md-1 text-center">
        <button type="button" class="btn btn-danger" id="btn-stop-extract-dof">Stop</button>
    </div>
    <div class="col-md-1 text-center">
        <button type="button" class="btn btn-success" id="btn-result-dof">Result</button>
    </div>
</div>

<div class="row" style="margin: 0.5rem;">
    <div class="col-md-7 text-end">
        <label for="method-select-dof-shi">Method: </label>
        <select id="method-select-dof-shi">
            <option value="Yolov8">Yolov8</option>
            <option value="FD">FD</option>
        </select>
        <label for="subject-select-dof-shi">Subject: </label>
        <select id="subject-select-dof-shi">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
        </select>
        <label for="camera-select-dof-shi">Camera: </label>
        <select id="camera-select-dof-shi">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <label for="trial-select-dof-shi">Trial: </label>
        <select id="trial-select-dof-shi">
            <option value="all">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <label for="activity-select-dof-shi">Activity: </label>
        <select id="activity-select-dof-shi">
            <option value="all">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>
    </div>
    <div class="col-md-2 text-center">
        <button type="button" class="btn btn-primary w-100" id="btn-create-dof-shi">Create DOF SHI</button>
    </div>
    <div class="col-md-1 text-center">
        <button type="button" class="btn btn-danger" id="btn-stop-create-dof-shi">Stop</button>
    </div>
    <div class="col-md-1 text-center">
        <button type="button" class="btn btn-success" id="btn-result-dof-shi">Result</button>
    </div>
</div>

<!-- Add a video container to display the video -->
<div class="row" style="margin: 2rem;">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-secondary" id="btn-clear-videos" style="margin-bottom: 1rem;">Clear
            Videos</button>
    </div>
    <div class="col-md-12 text-center">
        <div id="video-container" style="display: none;">
            <video id="extractedVideo" width="320" height="240" loop autoplay controls>
                <source id="videoSource" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div id="videos-container" style="display: none;">
            <!-- Multiple videos will be appended here -->
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/feature-extraction.js') }}"></script>
{% endblock %}