{% extends "base.html" %}

{% block title %}Home - Fall Detection{% endblock %}

{% block content %}
<!-- Page content -->
<main>
    <div class="container-fluid">
        <h4 class="text-center" id="ucsm-text">University of Computer Studies, Mandalay</h4>
        <div class="text-center" id="ucsm-logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="img-fluid small-image">
        </div>
        <h1 class="text-center">Fall Detection and Classification Using Multiple Cameras Based on Features Fusion and CNN-LSTM
        </h1>
    </div>
    <div class="row">
        <div class="col-md-4 text-center info">
            <p style="font-weight: bold">Presented By:</p>
            <p>Win Pa Pa San</p>
            <p>8Ph.D.(6), MKPT-6830</p>
        </div>
        <div class="col-md-4 text-center info">
            <p style="font-weight: bold">Third Seminar</p>
            <p style="font-weight: bold">24.1.2025</p>
        </div>
        <div class="col-md-4 text-center info">
            <p style="font-weight: bold">Supervised By:</p>
            <p>Dr. Myo Khaing</p>
        </div>
    </div>
</main>
<!-- End Page Content -->
{% endblock %}

</body>

</html>