{% extends "base.html" %}

{% block title %}Information - Fall Detection{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Information for UP-Fall Dataset</h2>
    <ul>
        <li>Subjects or Participants 1 to 17 are Person 1 to Person 17. There are 9 Males and 6 Females.</li>
        <li>The view of Camera 1 is Literal.</li>
        <li>The view of Camera 2 is Front.</li>
        <li>Trials 1 to 3 are rounds 1 to 3 for all activities.</li>
        <li>Activity 1 is Falling forward using hands (FH).</li>
        <li>Activity 2 is Falling forward using knees (FK).</li>
        <li>Activity 3 is Falling Backward (FB).</li>
        <li>Activity 4 is Falling Sideward (FS).</li>
        <li>Activity 5 is Falling while attempting to sit in an empty chair (FE).</li>
        <li>Activity 6 is Walking (W).</li>
        <li>Activity 7 is Standing (ST).</li>
        <li>Activity 8 is Sitting (SI).</li>
        <li>Activity 9 is Picking up an object (PO).</li>
        <li>Activity 10 is Jumping (J).</li>
        <li>Activity 11 is Laying (L).</li>
    </ul>
</div>
{% endblock %}